.header {
  display: flex;
  height: 80px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  padding: 0 20px;
}

.header button {
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding: 8px 16px;
  background-color: transparent;
  cursor: pointer;
}

.createArticle {
  border: 1px solid #52c41a !important;
  color: #52c41a;
  border-radius: 5px;
  font-size: 14px !important;
  padding: 2px 10px !important;
}

.signUp {
  border: 1px solid #52c41a !important;
  color: #52c41a;
  border-radius: 5px;
}

.signIn {
  border-right: none;
}

.loginButtons {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 46px;
    height: 46px;
  }
}

.mainPage {
  width: auto !important;
  border: none;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logOut {
  width: 109;
  height: 51;
  border-radius: 5px;
  border: 1px solid #000000bf !important;
}
